.experiencia {
    background: var(--darkened-bg);
    height: auto;
    margin: auto;
    text-align: center;
}
 
.caption { 
    position: flex; 
    top: 58%;
    width: 100%;
    left: 10%; 
    color: white;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.imagen { 
    width: 50%;
    margin: auto;
}
.CvSesar {
    width: 600px;
    margin: auto;
}


@media (min-width: 576px) 
{}