
.background {
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.experiencia {
    background: var(--darkened-bg);
    height: auto;
    margin: auto;
    text-align: center;
}
 
.caption { 
    position: absolute; 
    top: 58%; 
    left: 10%; 
    width: 40%;
    color: white;
    text-align: right; }

.imagen { 
    width: 50%;
    margin: auto;
}
.CvSesar {
    width: 600px;
    margin: auto;
}
.formularioLG {
    margin-left: 450px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
.titulos {
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

