{% extends "home.html" %}

{% load static %}


{% block contenido %}
<link rel="stylesheet" href="{%static 'css/cosa.css'%}">
<div class="experiencia" style= "position: relative" display = "flex-direction" justity-content = "space-between" flex-direction = "row">
    <div class="card" style="width: 25rem;">
        <img src="foto.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Juan Sesar</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Curriculum Vitae</a>
        </div>
    
    <div class="card" style="width: 25rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Juan Bautista Peralta</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Curriculum Vitae</a>
        </div>
    </div>
</div>


{% endblock %}