{% extends "home.html" %}

{% load static %}


{% block contenido %}
<link rel="stylesheet" href="{%static 'css/cosa.css'%}">
<p>Login</p>
<div class="RegistroForm"  >
    <form class="Registros" action="/AppDesafio/login/" method="GET"  >
        <input type="email" name="email" placeholder="email">
        <br>
        <input type="text" name="password" placeholder="contraseña">
        <br>
        <button type="submit" class="btn btn-primary btndj">Ingresar</button>
    </form>
</div>
{% endblock %}