{% extends "homelg.html" %}

{% load static %}


{% block contenido %}
<link rel="stylesheet" href="{%static 'css/cosa.css'%}">
<div class="background">
    <img src="{%static 'imagenes/Blog (1).jpg'%}" alt="" width= "100%">
</div>
<div class="container" >
    <div class="caption" style="top: 15%; width: 60%; position: absolute; height: auto; margin: auto; display: block; text-align: center; align-items: center; right: 12%;">
        <div class="container" >
            <div class="texto" style="margin-bottom: 40px;">
                <h1>Login</h1>
            </div>
            <div class="formulario" style="list-style: none;">
                <form method="POST">
                    {% csrf_token %}
                    {{ formulario.as_p }}
                    <button type="submit" >Iniciar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
