{% extends "home.html" %}

{% load static %}

{% block contenido %}
<div class="background">
    <img src="{%static 'imagenes/blog (1).jpg'%}" alt="" width= "100%">
    <div class="caption" style="top: 15%; position: absolute; height: auto; margin: auto; text-align: left;color: rgb(247, 242, 242);left: 27%; ">
        <h1>Carga los datos de tu nuevo post</h1>
        <form action="" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <input type="file" name="img" /> 
        <br> 
        <input type="text" style="margin: 10px 0 5px 0;" name="titulo" placeholder="titula tu foto">
        <br>
        <input type="text" style="margin: 5px 0 5px 0;" name="subtitulo" placeholder="contanos la ubicacion">
        <br>
        <input type="text" style="margin: 5px 0 5px 0;" name="cuerpo" placeholder="contanos algo sobre este momento">
        <br>
        <input type="text" style="margin: 5px 0 10px 0;" name="fecha" placeholder="fecha aproximda">
        <br>
        <button type="submit" class="btn btn-primary btndj">postear</button>
    </form>
    </div>
</div>    
{% endblock %}