{% extends "home.html" %}

{% load static %}


{% block contenido %}
<div style="position: relative; top: 80px">
    <H1>Tus datos de perfil</H1>
    <ul>
        <li>{{ usuarios.username }}</li>
        <li>{{ usuarios.email }}</li>
        <li>{{ usuarios.first_name }}</li>
        <li>{{ usuarios.last_name }}</li>
    </ul>
    <a class="btn btn-success" style="text-decoration: none; color: white" href="/inicio/actualizar">Editar </a>
    <a class="btn btn-success" style="text-decoration: none; color: white" href="/inicio/agregarAvatar">Cambiar imagen</a>
</div>    
{% endblock %}