{% extends "home.html" %}

{% load static %}

{% block contenido %}
<div>
    <div class="bg-image" 
     style="background-image: url('/static/imagenes/Blog (1).jpg');
            height: 250vh">
    </div>
        <form action="" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            {{ form.as_p }}
        <h5 class="card-title">{{titulo}}</h5> <input type="text" name="titulo" placeholder="titula tu foto">
        <h5 class="card-title">{{subtitulo}}</h5> <input type="text" name="subtitulo" placeholder="contanos la ubicacion">
        <p class="card-text">{{cuerpo}}</p><input type="text" name="cuerpo" placeholder="contanos algo sobre este momento">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{usuario}}</li>
            <li class="list-group-item">{{fecha}}</li><input type="text" name="fecha" placeholder="fecha aproximda">
        </ul>
        <input type="submit" value="Aceptar">
        </form>
    </div>
    <div class="card-body">
        
        <a href="#" class="card-link">Another link</a>
            
        </div>
    </div>
{% endblock %}