{% extends "homelg.html" %}

{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{%static 'css/cosa.css'%}">
<div class="fondo">
    <img src="{%static 'imagenes/Blog (1).jpg'%}" style= "background-attachment: fixed;" alt="">
    <div class="container" >
        <div class="caption" style="top: 15%; width: 60%; position: absolute; height: auto; margin: auto; display: block; text-align: center; align-items: center; right: 12%;">
            <div class="container" >
                <div class="texto" style="margin-bottom: 40px;">
        <h1> ¡Hola! acá podes registrarte</h1>
    </div>
        <div class="RegistroForm" style= "width: 600px; text-align: left;" >
            <form method="POST">
                <table>
                    {% csrf_token %}
                    {{ form.as_table }}
                </table>
                <input type="submit" value="guardar">
            </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}