{% extends "home.html" %}

{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{%static 'css/cosa.css'%}">
<h1> hola! aca podes registrarte</h1>
<div class="RegistroForm"  >
    <form class="Registros" action="/inicio/registro/" method="POST"  > {% csrf_token %}
        <input type="text" name="username" placeholder="nickname">
        <br>
        <input type="text" name="first_name" placeholder="Nombre">
        <br>
        <input type="text" name="last_name" placeholder="Apellido">
        <br>
        <button type="submit" class="btn btn-primary btndj">Guardar</button>
    </form>
</div>

{% endblock %}